.main-footer{
  background-image: linear-gradient(180deg, #6d6d6d,#343434);
  width: 100%;
  padding: 10px 0px;
  position: fixed;
  bottom: 0;
}

.copyright{
 text-align: center;
 margin: 0;
}

.copy{
  font-size: 10px;
  color: #cecece;
}