.main-footer{
  background-color: rgb(100, 100, 100);
  width: 100%;
  padding: 10px 0px;
  position: fixed;
  bottom: 0;
  border-top: 5px solid #54aa75;
}

.copyright{
 text-align: center;
 margin: 0;
}

.copy{
  font-size: 10px;
  color: #cecece;
}