$color-accent1: #342520;
$color-accent2: #1a3328;
$color-accent3: #80791d;
$color-accent4: #b1ab9f;


.device{
  width: 80%;
  height: 100%;
  min-height: 100vh;
  margin: 0 auto;
  background-color: $color-accent1;
}

.registration-main {
  display: flex;
  justify-content: center;
  color:$color-accent1 ;
}

.form-wrap {
  margin: 120px 0 100px;
  width: 50%;
  height: 100%;
  padding-top: 10px;
  background-image: image-url('background_01.jpg');
}

.form-header {
  width: 100%;
  height: 100px;
  text-align: center;
  font-size: 22px;
  margin-bottom: 20px;
}

.form-header-text {
  height: 100%;
  line-height: 100px;
  border-bottom: 1px solid $color-accent2;
  font-weight: bold;
}

.form-group {
  width: 50%;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding-top: 20px;
}

.form-group:first-child {
  padding: 0;
}

.form-text-wrap {
  width: 100%;
  height: 20%;
}

.form-text {
  font-size: 14px;
  font-weight: bold;
}

.input-default {
  width: 100%;
  margin-top: 5px;
  height: 48px;
  padding: 10px 16px 8px;
  border: 1px solid $color-accent2;
  background-color: $color-accent4;
  font-size: 16px;
  resize: none;
}

input:focus,textarea:focus {
  outline:none;
  border: 2px  solid $color-accent2;
}

.indispensable{
  color: rgb(148, 45, 45);
}

.info-text {
  color: $color-accent1;
  font-size: 14px;
  margin-top: 3px;
}

.form-info-header {
  font-weight: bold;
}

.form-info-text {
  font-size: 15px;
}


.field_with_errors {
  display: contents;
}

.form-bottom-text {
  font-size: 15px;
  margin-top: 10px;
  text-align: center;
}

.form-bottom-text:last-child {
  margin: 0;
  padding-bottom: 50px;
}

.form-bottom-text>span {
  color: $color-accent2;
  cursor: pointer;
}




.register-btn {
  width: 50%;
  margin: 0 auto;
  margin-top: 30px;
  margin-bottom: 60px;
}

.register-green-btn {
  width: 100%;
  background: $color-accent2;
  border: none;
  color: $color-accent4;
  line-height: 48px;
  font-size: 14px;
  cursor: pointer;
}

.register-info {
  margin: 30px 180px 0 0;
  color: $color-accent2;
  text-align: right;
  cursor: pointer;
}




.login-btn {
  width: 50%;
  margin: 0 auto;
  margin-top: 50px;
  margin-bottom: 60px;
}

.login-green-btn {
  width: 100%;
  background: $color-accent2;
  border: none;
  color: $color-accent4;
  line-height: 48px;
  font-size: 14px;
  cursor: pointer;
}

.login-flash-message {
  text-align: center;
  color: rgb(148, 45, 45);
}
