<html>
  <body>
    <div class="wrapper">
      <div class="container">
        <%= render "shared/header" %>
        <div class='main'>
          <div class='hero-img'>
          </div>
          
          <div class='contents-box'>
            <div class='item'>
              aaa
            </div>
            <div class='item'>
              bbb
            </div>
            <div class='item'>
              ccc
            </div>
            <div class='item'>
              ddd
            </div>
          </div>
        </div>
        <%= render "shared/footer" %>
      </div>
    </div>
  </body>
</html>