<html>
  <head>
  <script src="https://kit.fontawesome.com/e6214fc67b.js" crossorigin="anonymous"></script>
  </head>

  <body>
  <%= render "shared/header" %>

  <div class= 'main'>
    <br><br>
    <%= link_to "投稿する", new_post_path, class: "logo" %>

    <div class= "posts_all">
      <div class="posts">
        <% if @posts.present? %>
          <!-- 入力フォーム無しver.(show)のCSSを適用 -->
          <%= render "posts_all" %>
        <% end %>
      </div>
    </div>

  </div>
  <%= render "shared/footer" %>
</body>

</html>