<html>
  <head>
  <script src="https://kit.fontawesome.com/e6214fc67b.js" crossorigin="anonymous"></script>
  </head>

  <body>
    <%= render "shared/header" %>

    <div class= 'main'>
      <div class= "posts_all">
        <div class="posts">
          <div class="posts-id-all">
            <% if @posts.present? %>
              <%= render "posts_all_index" %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
    
    <%= render "shared/footer" %>
  </body>

</html>