<body>
  <%= render "shared/header" %>
  <div class= 'main'>
    <div class= "posts_all">
      <div class="posts">
<br><br>
      <%= link_to "投稿する", new_post_path, class: "logo" %>


        <%= render "posts_all" %>

        
      </div>
    </div>
  </div>
  <%= render "shared/footer" %>
</body>
