<head>
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css">
</head>

<body>
  <%= render "shared/header" %>

  <div class= 'main'>
    <div class= "posts_all">
      <div class="posts">
        <% if @posts.present? %>
          <%= render "posts_all" %>
        <% end %>

        <%= render "form" %>
      </div>
    </div>
  </div>
  <%= render "shared/footer" %>
</body>
