<head>
  <script src="https://kit.fontawesome.com/e6214fc67b.js" crossorigin="anonymous"></script>
</head>

<body>
  <%= render "shared/header" %>

  <div class= 'main'>
    <div class= "posts_all">
      <div class="posts">
        <!-- 入力フォーム無しver.(show)のCSSを適用 -->
        <%= render "posts_show" %>
      </div>
    </div>
  </div>
  
  <%= render "shared/footer" %>
</body>
