<head>
  <script src="https://kit.fontawesome.com/e6214fc67b.js" crossorigin="anonymous"></script>
  <link href="https://fonts.googleapis.com/css?family=Sawarabi+Mincho" rel="stylesheet">
</head>

<body>
  <div class="wrapper">
    <div class="container">
      <%= render "shared/header" %>
        <%= render "posts_show" %>
      <%= render "shared/footer" %>
    </div>
  </div>
</body>
