$color-accent1: #342520;
$color-accent2: #1a3328;
$color-accent3: #80791d;
$color-accent4: #b1ab9f;

.main-header{
  width: 80%;
  height: 75px;
  padding: 15px 30px 15px 15px;
  top: 0;
  left: 0;
  background-color:#231f1f;
  border-bottom: 5px solid $color-accent3 ;
  z-index: 3;
  margin: 0 10% ;
  position: fixed;
}

.nav{
  height: 50px;
  display: flex;
  justify-content: space-between;
}

.logo{
  text-decoration: none;
  font-size: 30px;
  font-weight: bold;
  color:$color-accent4;
}

.lists-right {
  list-style: none;
  display: flex;
  align-items: flex-end;
}

.lists-right li{
  font-size: 16px;
  padding: 5px 0;
}

.user-nickname {
  text-decoration: none;
  color:$color-accent4;
  font-weight: bold;
  margin-right: 30px;
}

.logout {
  text-decoration: none;
  color:$color-accent4;
}

.login {
  text-decoration: none;
  color:$color-accent4;
  margin-right: 30px;
}

.sign-up {
  text-decoration: none;
  color:$color-accent4;
}


/* ==========================================================================
 * タイトル／日時
 * ========================================================================== */


.main-footer{
  width: 80%;
  padding: 8px 0px 12px;
  position: fixed;
  bottom: 0;
  border-top: 5px solid $color-accent3;
  background-color:#231f1f;
}

.copyright{
 text-align: center;
 margin: 0;
}

.copy{
  font-size: 10px;
  color: $color-accent3;
}