$color-accent1: #342520;
$color-accent2: #1a3328;
$color-accent3: #80791d;
$color-accent4: #b1ab9f;

/* ==========================================================================
 * ヘッダー
 * ========================================================================== */


.main-header{
  width: 80%;
  height: 75px;
  padding: 15px 25px;
  top: 0;
  left: 0;
  background-image:linear-gradient(180deg,#222,#231f1f);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
  border-bottom: 5px solid $color-accent3 ;
  z-index: 3;
  margin: 0 10% ;
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.logo_mini{
  width: 60px;
  margin: 0 10px 0 0;
}

.nav{
  display: flex;
  align-items: flex-start;
}

.logo{
  text-decoration: none;
  font-size: 25px;
  font-weight: bold;
  color: $color-accent4;
  margin: 1px 8px;
  filter: drop-shadow(5px 5px 5px rgb(0, 0, 0));
}

.new_nav{
  text-decoration: none;
  color:$color-accent3;
  font-weight: bold;
  margin-right: 30px;
}

.lists-right {
  list-style: none;
  display: flex;
  align-items: flex-end;
  height: 50px;
}

.lists-right li{
  font-size: 16px;
  padding: 5px 0 0;
}

.user-nickname {
  text-decoration: none;
  color:$color-accent4;
  font-weight: bold;
  margin-right: 30px;
  filter: drop-shadow(5px 5px 5px rgb(0, 0, 0));
}

.logout {
  text-decoration: none;
  color:$color-accent4;
  filter: drop-shadow(5px 5px 5px rgb(0, 0, 0));
}

.login {
  text-decoration: none;
  color:$color-accent4;
  margin-right: 30px;
  filter: drop-shadow(5px 5px 5px rgb(0, 0, 0));
}

.sign-up {
  text-decoration: none;
  color:$color-accent4;
  filter: drop-shadow(5px 5px 5px rgb(0, 0, 0));
}


/* ==========================================================================
 * フッター
 * ========================================================================== */

.main-footer{
  width: 80%;
  padding: 8px 0px 12px;
  position: fixed;
  bottom: 0;
  border-top: 5px solid $color-accent3;
  background-image:linear-gradient(0deg,#222,#231f1f);
}

.copyright{
 text-align: center;
 margin: 0;
}

.copy{
  font-size: 10px;
  color: $color-accent3;
}
