$color-accent1: #342520;
$color-accent2: #1a3328;
$color-accent3: #80791d;
$color-accent4: #b1ab9f;

.contents-box{
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-box{
  width: 100%;
  height: 100vh;
  margin: 0 50px;
}

.hero-img{
  width: 100%;
  height: 94vh;
  object-fit: cover;
  opacity: 1;
}

.hero-box > p{

  color: $color-accent1;
  font-size: 20px;
  position: relative;
  top:150px;
  left: 50px;
  opacity: 2;
}