$color-accent1: #342520;
$color-accent2: #1a3328;
$color-accent3: #80791d;
$color-accent4: #b1ab9f;

.contents-box{
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
}

.hero-img{
  width: 80%;
  height: 100vh;
  background-color: cadetblue;
}

.item{
  width: 250px;
  margin: 10px;
  background-color: rgb(170, 214, 252);
}