$color-accent1: #342520;
$color-accent2: #1a3328;
$color-accent3: #80791d;
$color-accent4: #b1ab9f;

.posts-index_all{
  width: 100%;
  min-width: 290px;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 50px 30px 100px;
  background-image: image-url('background_01.jpg');
  opacity: 1;
}


.posts-index_sub{
  display: flex;
  justify-content: flex-start;
  padding: 6px 20px 0;
  font-size: 16px;
}


.posts-index_category{
  width: 280px;
}

.posts-index_category span {
  font-size: 0.8em;
  text-decoration: none;
  color: $color-accent1;
}


.posts-index_bookmark{
  border: none;
  text-align: center;
  font-size: 16px;
  padding-bottom: 10px;
}

.post-indexs_link{
  text-decoration: none;
  color: #222222;
}

.empty{
  width: 280px;
  margin: 0 15px 0;
}


/* ==========================================================================
 * 表示１：画像あり、タイトルあり
 * ========================================================================== */

 .posts_index_box_image1{
  width: 280px;
  height: 320px;
  margin: 0 15px 30px;
  padding: 0 0 30px;
}

.posts_index_box_image1_out{
  width: 280px;
  height: 280px;
  border-radius: 10px;
  padding-top: 7px;
  background-color: $color-accent2;

}

.posts_index_box_image1_main{
  width: 240px;
  height: 240px;
  margin: 13px auto 0;
  padding-top: 8px;
  border: 1px solid $color-accent3;
}

.posts-index_image1{
  width: 200px;
  height: 180px;
  position: relative;
  overflow: hidden;
  margin: 5px 20px 14px;
}

.posts-index_text1{
  width: 200px;
  height: 180px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0,0,0,0.7);
  opacity: 0;
  color: $color-accent4;
  padding: 25px 15px 20px 15px;
  line-height: 1.5em;
  display: flex;
  align-items: center;
  justify-content: center;
}

.posts-index_image1:hover .posts-index_text1 {
  opacity: 1;
  transition:all 0.6s ease;
}

.posts-index_title1{
  width: 238px;
  height: 40px;
  text-align: center;
  font-size: 14px;
  color: $color-accent4;
  border-top: 5px solid $color-accent3;
  padding-top: 3px;

}



/* ==========================================================================
 * 表示２：画像あり、タイトルなし
 * ========================================================================== */

 .posts_index_box_image2{
  width: 280px;
  height: 320px;
  margin: 0 15px 30px;
}

.posts_index_box_image2_main{
  padding: 20px;
  border-radius: 10px;
  border: 1px solid $color-accent2;
  background-color: $color-accent2;
}


.posts-index_image2{
  width: 240px;
  height: 240px;
  position: relative;
}

.posts-index_image2_in{
  width: 220px;
  height: 220px;
  border: 3px solid $color-accent3;
  position: absolute;
  top: 10px;
  bottom: 0;
  left: 10px;
  right: 0;
}

.posts-index_text2{
  width: 240px;
  height: 240px;
  position: absolute;
  top: -13px;
  bottom: 0;
  left: -13px;
  right: 0;
  background: rgba(0,0,0,0.7);
  opacity: 0;
  color: $color-accent4;
  padding: 30px 25px 30px 25px;
  line-height: 1.5em;
  display: flex;
  align-items: center;
  justify-content: center;
}

.posts-index_image2:hover .posts-index_text2 {
  opacity: 1;
  transition:all 0.6s ease;
}




/* ==========================================================================
 * 表示3：本文のみ（画像なし）、タイトルあり
 * ========================================================================== */

 .posts_index_box_image3{
  width: 280px;
  height: 320px;
  margin: 0 15px 30px;
  padding: 0 0 30px;
}

.posts_index_box_image3_out{
  width: 280px;
  height: 280px;
  border-radius: 10px;
  padding-top: 7px;
  background-color: $color-accent2;

}

.posts_index_box_image3_main{
  width: 240px;
  height: 240px;
  margin: 13px auto 0;
  padding-top: 8px;
  border: 1px solid $color-accent3;
}

.posts-index_text3{
  width: 238px;
  height: 199px;
  position: relative;
  overflow: hidden;
  padding: 14px 10px 20px;
  color: $color-accent4;
}

.posts-index_text3:hover{
  opacity: 0.6;
  background: rgba(0,0,0,0.7);
  transition:all 0.9s ease;
}

.posts-index_title3{
  width: 238px;
  height: 30px;
  text-align: center;
  font-size: 14px;
  color: $color-accent4;
  border-bottom: 5px solid $color-accent3;
}

/* ==========================================================================
 * 表示４：本文のみ（画像なし）、タイトルなし
 * ========================================================================== */

 .posts_index_box_image4{
  width: 280px;
  height: 320px;
  margin: 0 15px 30px;
  padding: 0 0 30px;
}

.posts_index_box_image4_out{
  width: 280px;
  height: 280px;
  border-radius: 10px;
  padding-top: 7px;
  background-color: $color-accent2;

}

.posts_index_box_image4_main{
  width: 240px;
  height: 240px;
  margin: 13px auto 0;
  border: 1px solid $color-accent3;
}

.posts-index_text4{
  width: 238px;
  height: 238px;
  position: relative;
  overflow: hidden;
  padding: 14px 12px 20px;
  color: $color-accent4;
}

.posts-index_text4:hover{
  opacity: 0.6;
  background: rgba(0,0,0,0.7);
  transition:all 0.9s ease;
}


/* ==========================================================================
 * ツールチップ（下に表示）
 * ========================================================================== */

 .tooltip_i { /* 補足説明するテキストのスタイル */
  position: relative;
  cursor: pointer;
  padding: 0 5px;
}
 
.description_bottom_i { /* ツールチップのスタイル */
  width: 80px; /* 横幅 */
  height: 28px;
  position: absolute;
  top: 100%; /* Y軸の位置 */
  left: 60%;
  transform: translateX(-50%);
  margin-top: -5px; /* テキストとの距離 */
  padding: 3px;
  border-radius: 10px; /* 角の丸み */
  background-color: $color-accent2;
  font-size: 0.5em;
  color: $color-accent4;
  text-align: center;
  visibility: hidden; /* ツールチップを非表示に */
  opacity: 0; /* 不透明度を0％に */
  font-size: 11px;

  transition: 0.5s all; /* マウスオーバー時のアニメーション速度 */
}
 
.tooltip_i:hover .description_bottom_i { /* マウスオーバー時のスタイル */
  top: 100%; /* Y軸の位置 */
  visibility: visible; /* ツールチップを表示 */
  opacity: 1; /* 不透明度を100％に */
}