.posts-id-all{
  margin: 30px;
  padding: 0px;
  padding-bottom: 220px;
}

.posts-main-box {
  padding: 20px 0;
}



.posts-title-id {
  height: 30px;
  width: 100%;
  font-size: 16px;
  font-weight: bold;
  color: rgb(30, 62, 38);
  border-left: 10px solid #54aa75;
  padding: 7px 5px;
  margin: 0;
}

.posts-timestamp-id {
  height: 14px;
  width: 100%;
  font-size: 10px;
  color: #545f58;
  border-left: 10px solid #26342c;
  padding: 2px 5px;
  margin: 0;
}

.posts-text-id {
  width : 100%;
  padding: 10px 15px 0 15px;
  line-height: 1.5;
  border-top: 1px solid gray;
  border-bottom: 1px solid gray;
}

.posts-image-id {
  margin: 20px 0;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-content: flex-start;
}

.posts-image-one > img {
  height: 30vh;
  width: auto;
  margin: 0 10px 0 0;
}



.posts-sub-box{
  display: flex;
}

.posts-category-id {
  color: #545f58;
}

.posts-bookmark-id{
  border: none;

}

.posts-tag-id{
  color: #545f58;
}