.posts_index_wrapper {

  width: 90%;
  background-color: rgb(127, 104, 77);
}
.posts_index_container{
  width: 100%;
  background-color: aquamarine;
}

.posts_index_container img{
width: 40vw;
}


/* ==========================================================================
 * テキストのみ
 * ========================================================================== */

