$color-accent1: #342520;
$color-accent2: #1a3328;
$color-accent3: #80791d;
$color-accent4: #b1ab9f;

html{
  width: 100%;
  height: 100%;
}

body {
  color: $color-accent3;
  font-family: "Sawarabi Gothic";
  line-height: 1.5em;
}

.wrapper{
  margin: 0 auto;
  background-image: image-url('background01.png');
}

.container{
  width: 80%;
  height: 100%;
  margin: 0 auto;
}

.posts-all{
  width: 100%;
  height: 100%;
  padding: 130px 50px 100px;
  background-color:$color-accent1;
  font-family: "Sawarabi Gothic";
  line-height: 1.5em;
}

.posts-all_form{
  width: 100%;
  height: 100%;
  padding: 0px 0px 250px;
}


.posts-id-all{
  width: 100%;
  height: 100%;
}

.posts-all-box_one{
  background-image: image-url('background01.png');
  margin-bottom: 30px ;
  padding: 20px;
}

.posts-show-box{
  width: 100%;
  height: 100%;
  padding: 20px;
  background-image: image-url('background01.png');
}

.post-id-show{
  padding: 100px 10px 0px;
}

/* ==========================================================================
 * タイトル／日時
 * ========================================================================== */

.posts-title-id {
  height: 30px;
  width: 100%;
  font-size: 16px;
  font-weight: bold;
  color:$color-accent2;
  border-left: 10px solid $color-accent2;
  padding: 7px 5px;
  margin: 0;
}

.posts-timestamp-id {
  height: 16px;
  width: 100%;
  font-size: 10px;
  color:$color-accent1;
  border-left: 10px solid $color-accent2;
  padding: 0 0 5px 5px;
  margin: 0;
}


/* ==========================================================================
 * サブメニュー：ブックマーク／詳細／編集／削除
 * ========================================================================== */


.submenu{
  height: 30px;
  width: 100%;
  display: flex;
  padding-top: 5px;
  margin-bottom: 10px;
  justify-content: flex-end;
  border-top: 1px solid $color-accent2;
}

.posts-submenu-id{
  border: none;
  padding-top: 6px;
  margin-right: 10px;
  width: 35px;
  text-align: center;
  font-size: 16px;
  padding-bottom: 10px;
}

/* ==========================================================================
 * 本文／画像
 * ========================================================================== */

.posts-text-id {
  width : 100%;
  padding: 0 15px 10px 15px;
  line-height: 1.5;
  border-bottom: 3px solid $color-accent2;
}

.posts-image-id {
  margin: 20px 0;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-content: flex-start;
}

.posts-image-all > img {
  height: 30vh;
  width: auto;
  margin: 0 10px 0 0;
}

.posts-image-one > img{
  max-width: 100%;
  margin: 0 20px 10px 0;
}

/* ==========================================================================
 * カテゴリー／タグ
 * ========================================================================== */

.posts-sub_box{
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
}

.posts-category-id {
  color: #545f58;
  max-width: 30%;
}


.posts-tag-id{
  color: #545f58;
  display: flex;
  max-width: 60%;
}

.posts-tag-one{
  padding-left: 15px;
}


/* ==========================================================================
 * ツールチップ（下に表示）
 * ========================================================================== */

.tooltip { /* 補足説明するテキストのスタイル */
  position: relative;
  cursor: pointer;
  padding: 0 5px;
}
 
.description_bottom { /* ツールチップのスタイル */
  width: 80px; /* 横幅 */
  height: 28px;
  position: absolute;
  top: 80%; /* Y軸の位置 */
  left: 50%;
  transform: translateX(-50%);
  margin-top: 8px; /* テキストとの距離 */
  padding: 3px;
  border-radius: 10px; /* 角の丸み */
  background-color: $color-accent2;
  font-size: 0.5em;
  color: $color-accent4;
  text-align: center;
  visibility: hidden; /* ツールチップを非表示に */
  opacity: 0; /* 不透明度を0％に */
  font-size: 11px;

  transition: 0.5s all; /* マウスオーバー時のアニメーション速度 */
}
 
.tooltip:hover .description_bottom { /* マウスオーバー時のスタイル */
  top: 100%; /* Y軸の位置 */
  visibility: visible; /* ツールチップを表示 */
  opacity: 1; /* 不透明度を100％に */
}