.login-btn {
  width: 50%;
  margin: 0 auto;
  margin-top: 50px;
}

.login-green-btn {
  width: 100%;
  background: #0c5537;
  border: none;
  color: #fff;
  line-height: 48px;
  font-size: 14px;
  cursor: pointer;
}

.login-flash-message {
  text-align: center;
  color: rgb(148, 45, 45);
}
